.app{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    gap: 10px;
    padding: 0 50px;
}
@media (max-width:500px) {
    .app{
        flex-direction: column;
    }
}